
@{
    ViewBag.Title = "demoForm";
}

<h2>demoForm</h2>

<form method="post">
    <input type="text" name="txtA" value="@ViewBag.a"/>X2+
    <input type="text" name="txtB" value="@ViewBag.b" />X+
    <input type="text" name="txtC" value="@ViewBag.c" />=0

    <br /><br />
    <input type="submit" value="OK" /> @ViewBag.ANS
</form>